.header-third {
    background-color:  white;
    height: 80px;
    

    h3 {
        padding-top: 16px;
        padding-left: 16px;
        color: #7E7E82;
        font-size: 22px;
        border-top: 1px solid rgb(217, 255, 245);
    }
}

