.header {
    display: flex;
    padding: 16px;
    padding-bottom: 8px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(217, 255, 245);
    background-color: white;

    &__first-list {
        display: flex;
    }

    &__first-item {
        &:nth-child(2) {
            margin-left: 16px;
            position: relative;
        }

        &::before {
            content: "";
            position: absolute;
            border-radius: 1px;
            background: rgb(234, 234, 234);
            width: 2px;
            height: 32px;
            right: -25px;
            top: 8px;
        }
    }

    &__second-list {
        display: flex;  
        gap: 16px;
    }

    &__second-item:nth-child(-n + 3) {
        display: none;
    }

    @media (min-width: 768px) {
        &__second-item:nth-child(-n + 3) {
            display: block;
        }

        &__second-item:nth-child(4) {
            position: relative;
            margin-left: 35px;
        }

        &__second-item:nth-child(4)::before {
            content: "";
            position: absolute;
            border-radius: 1px;
            background: rgb(234, 234, 234);
            width: 2px;
            height: 32px;
            right: 65px;
            top: 8px;
        }
    }


}
