.main-article {
    margin-right: 16px;
    
    &__button {
        margin-left: 35px;
        position: relative;
        cursor: pointer;


        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            background: url("./img/icon.png") no-repeat;
            width: 14px;
            height: 14px;
            left: -23px;
            top: 3px;
            transition: transform 0.3s;
            transform: rotate(180deg);
        }
    
        &.button--rotated::before {
            transform: rotate(0deg);
        }
    }
}

.image {
    margin-top: 16px;
    width: 320px;
    height: 230.8px;
    
}


@media (min-width: 768px) {

    .main-article {
        display: flex;
        justify-content: space-between;



        &__text {
            width: 312px;
            height: 160px;
        }


    }

    .image {
        width: 360px;
        height: 259.66px;
        
        
    }
}

@media (min-width: 1388px) {
    .main-article {
        .image {
            width: 531.35px;
            height: 383.24px;
        }
    }

}