.main-description {
    margin-left: 16px;

    &__title {
        font-size: 28px;
        position: relative;
        font-family: "TTLakesBold";

        &::before {
            content: '';
            background-image: url("./img/highlight.png");
            width: 4px;
            height: 40px;
            position: absolute;
            left: -15px;
            top: -4px;

        }
    }

    &__button--first {
        display: none;
    }

    &__button--second {
        display: none;
    }
}

.main-navigation__list {
    display: flex;
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-navigation__item {
    border: 2px solid transparent;
    /* Прозрачная рамка по умолчанию */
    border-radius: 6px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 8px;
    color: rgb(126, 126, 130);

    &:hover {
        border: 2px solid rgb(184, 255, 236);
        border-radius: 6px;
        background-color: white;
        color: rgb(27, 28, 33);
    }

    &:nth-child(1) {
        margin-left: 0px;
    }
}




@media (min-width: 1388px) {
    .main-description__button--first {
        display: inline-block;
        position: relative;
        left: 1200px;
        top: -50px;
    }

    .main-description__button--second {
        display: inline-block;
        position: relative;
        left: 1460px;
        top: -50px;
    }

    .main-description__button--second::before {
        content: "Статус ремонта";
        position: relative;
        top: -14px;
        left: -10px;
        
    }


    .main-description__button--first::before {
        content: "Оставить заявку";
        position: relative;
        top: -14px;
        left: -10px;

    }


}