.third-content-card {
    width: 228px;
    height: 168px;
    background-color:white;
    border-radius: 6px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
    position: relative;
    
    p{
        font-size: 14px;
        margin-left: 16px;
        margin-top: 0;
        margin-bottom: 0;
        
    }

    span{
        color: rgb(126, 126, 130);
        padding-bottom: 10px;
    }

    .third-button {
        position: absolute;
        right: 9px;
        bottom: 8px;
    }
    


}

.header-fourth {
    height: 80px;
}

.prices-container {
    display: none;
}

.prices-container-title {
    display: none;
}



@media (min-width: 768px) {
    .swiper3 {
        display: none !important;
    }

    .prices-container {
        display: block;
        margin-left: 24px;
        margin-right: 24px;
        background-color: #FFFFFF;
        margin-top: 10px;
        border-radius: 6px;
        
        
        
        


        &__row {

            display: grid;
            grid-template-columns: 1fr 2fr;
            margin-left: 16px;
            height: 70px;
            border-bottom: 1px solid rgb(234, 234, 234);
            align-items: center;
            
        }

        &__row--left {
            display: flex;
            justify-content: end;
            margin-right: 16px;
        }
        p { 
            margin-right: 40px;
            
        }
    }

    .prices-container-title {
        display: block;
        margin-left: 24px;
        padding-top: 5px;
        position: relative;
        left: 18px;
        bottom: -20px;

        p {
            color: $hover-color;
        }
        
        &__row {
            display: grid;
            grid-template-columns: 1fr 2fr;
            

        }

        &__rowsec {
            display: flex;
            justify-content: end;
            margin-right: 200px;
            

            
        }

        p:first-child {
            margin-right: 75px;
        }

        p:nth-child(2) {
            margin-right: 30px;
        }
    }
}

@media (min-width: 1388px) {
    .prices-container {
        &__row--left {
            justify-content: space-between;
        }

}

    .prices-container-title__rowsec {
        justify-content: space-between;
        

        p:nth-child(2) {
            margin-right: 450px;
        }
    }
}