$back: beige;
$text: blue;
$hover-color: rgb(126, 126, 130);
$aside-width: 320px;
$aside-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);

@font-face {
    font-family: "TTLakesMedium"; 
    src: url("./fonts/TTLakes-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

@font-face {
    font-family: "TTLakesBold"; 
    src: url("./fonts/TTLakes-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 


@font-face {
        font-family: "TTLakes-Regular"; 
        src: url("./fonts/TTLakes-Regular.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
      } 


body {
    background-color:  #F8F8F8;
    overflow-x: hidden;
    height: 100%; /* Устанавливаем высоту на 100% */
    margin: 0; /* Убираем отступы */
    font-family: "TTLakesMedium";

}

.no-scroll {
    overflow: hidden;
}

@media (min-width: 1388px) {
    body {
        background-color: #FFFFFF;
    }

    .wrapper {
        background-color: #F8F8F8;
    }
}


.wrapper-global {
    display: flex;
    
}

.wrapper {
    width: 100%;
}

.hidden {
    display: none;
}


button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    font-family: "TTLakes-Regular";
    font-weight: bold;
    

}

h2,h3 {
    font-family: "TTLakes-Regular";
    font-weight: lighter;
}

/* Убираем декорации у ссылок */
a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* Убираем маркеры списка и отступы */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

aside {
    display: none;
}



.swiper-wrapper {
    padding-bottom: 50px;
}